body{
    background-color: black;
}
h1{
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    color: aliceblue;
    
}


form{
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 500px;
    margin-right: 500px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-color: #d0ccd1;
   background-color: #8c8c8c;
   align-items: center;
    padding: 0px 0px 50px 0px;
 
   
   
}
.conteiner2{
    display: block;
}

.uno{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 475px;
   background-color: white;
   padding-bottom: 250px;
   padding-top: 0px;

}
 


input{
    width: 200px;
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
}
input:hover{
    border: solid 2px #c9c9c9 ;
}
input:hover:hover{
    box-shadow: 4px 4px #dfe1e9 ;
}
input[type= text]:focus{
    border: solid 2px #c9c9c9;
    
}

button{
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;
   background-color: #c9c9c9;
   border-radius: 5px;
   
    
}
p{
    font-family: Trebuchet MS, sans-serif;
    color: #c0c0c0;
}