body{
    background-color: black;
}
h1{
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    color: aliceblue;
    
}


form{
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 500px;
    margin-right: 500px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border: groove 7px  ;
   border-radius: 5px;
   border-color: #d0ccd1;
   align-items: center;
    padding: 0px 0px 50px 0px;
   animation-name: cima;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-delay: 2s 3s;
   
   
}
 
@keyframes cima{
    0% {border-top-color:#d0ccd1;}
    15% {border-top-color:#13a8fe;}
    30% { border-left-color: #d0ccd1;}
    45% {border-left-color:#f82d97;}
    60% {border-bottom-color: #d0ccd1;}
    75%  {border-bottom-color:#2ef8a0;}
    90%  {border-right-color:#d0ccd1;}
    100%  {border-right-color:#ff0534;}
}
@keyframes esquerda{
   
}

input{
    width: 200px;
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
}
input:hover{
    border: solid 2px #0028ff ;
}
input:hover:hover{
    box-shadow: 4px 4px #dfe1e9 ;
}
input[type= text]:focus{
    border: solid 2px #0028ff;
    
}

button{
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;
   background-color: #0028ff;
   border-radius: 5px;
   
    
}
p{
    font-family: Trebuchet MS, sans-serif;
    color: #c0c0c0;
}