
body{ background-image: linear-gradient(260deg,#ede6db, white);}
h1{
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    color: black;
    
}
.conteiner2{
    display: flex;
    margin-top: 300px;
    flex-direction: row;
    justify-content: center;
    
}

form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #8c8c8c;
    align-items: center;
    padding: 0px 0px 0px 0px;
    border-radius: 3px 0 0 3px;
    width: 300px;
    height: 300px;
 
   
   
}
@keyframes cores{
    0% {background-image: linear-gradient(180deg, yellow,red, purple,green,blue);}
    25% {background-image: linear-gradient(180deg, blue,yellow, red,purple,green);}
    50% {background-image: linear-gradient(180deg, green,blue yellow,red,purple);}
    100% {background-image: linear-gradient(180deg, purple,green, blue,yellow,red);}
}

.uno{
   width: 15px;
   height: 300px;
   border-radius: 10px 0 0 10px;
   background-image: linear-gradient(180deg, yellow,red, purple,green,blue);
   animation: 2s linear 0s infinite running cores;
   
}

@keyframes coresdois{
    0% {background-image: linear-gradient(180deg, yellow,red, purple,green,blue);}
    25% {background-image: linear-gradient(180deg, blue,yellow, red,purple,green);}
    50% {background-image: linear-gradient(180deg, green,blue yellow,red,purple);}
    100% {background-image: linear-gradient(180deg, purple,green, blue,yellow,red);}
}
.dos{
    display: flex;
    float: left;
    width: 15px;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(180deg, yellow,red, purple,green,blue);
    animation: 2s linear 0s infinite running coresdois;
}
 


input{
    width: 200px;
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
}
input:hover{
    border: solid 2px #c9c9c9 ;
}
input:hover:hover{
    box-shadow: 4px 4px #dfe1e9 ;
}
input[type= text]:focus{
    border: solid 2px #c9c9c9;
    
}

button{
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;
   background-color: #c9c9c9;
   border-radius: 5px;
   
    
}
p{
    font-family: Trebuchet MS, sans-serif;
    color: #c0c0c0;
}
#resultado{
    color: orange;
}